/* Presentation Section */
.presentation-section {
    background-color: var(--white);
    padding: 20px 0;
}

.presentation-section h2 {
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.presentation-section h2 strong {
    color: var(--primary-color);
}

.presentation-text {
    font-size: 14px;
    line-height: 1.6;
}

.presentation-text a {
    font-weight: 700;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Info list styling */
.services-info-section-title {
    font-size: 20px;
    margin-bottom: 30px;
}

.services-info-section {
    background-color: var(--white);
    padding: 20px 0;
}

.services-info-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.services-info-list li {
    width: 16.66%;
    padding: 0 10px;
    margin-bottom: 20px;
    text-align: center;
}

.services-info-list div {
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-info-list img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
}

.services-info-list span {
    font-size: 14px;
    line-height: 1.3;
}

/* Practical Information Section */
.practical-list div {
}

/* Services Section */
.services-list div {
}

/* Highlights Section */
.highlights-list div {
    background-color: var(--cta-blue);
    font-weight: 500;
    /*color: var(--white);*/
}

.small-text {
    font-size: 12px;
    margin-top: 10px;
    text-align: left;
}

/* Media Queries */
@media (max-width: 991px) {
    .services-info-list li {
        width: 33.33%;
    }
}
